html {
    font-size: 30px;
}
#outer-div1 {
    height: 200px;
    width: 200px;
    background-color: blue;
    /*margin: 4px 10px 20px 30px;*/
    margin-bottom: 20px;
}
#inner-div1 {
    height: 50%;
    width: 50%;
    background-color: red;
}
#outer-div2 {
    height: 200px;
    width: 200px;
    background-color: green;
    margin-top: 30px;
}