html{
    font-size: 30px
}
#div1 {
    height: 200px;
    width: 200px;
    background-color: rgb(25, 26, 200)
    /*hsl(25, 30%, 20%);*/
    /*rgba(25,26, 200,1)*/
    /* rgb(25,26 ,200) */
   /*  #d68787 */
}
#div2{
    height: 4rem;
    width: 6rem;
    background-color: red;
}

