#outer-div{
    border: 2px solid black;
    margin: 20px;
   /*
    position: relative;*/
    
}

#div1{
    background-color: #393a7b;
    height: 200px;
    width: 200px;
}

#div2{
    height: 200px;
    width: 200px;
    background-color: orange;
    position: sticky;
    left: 20px;
    top: 20px;
}

#div3{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
}