#div1{
    background-color: lightblue;
    height: 100px;
    width: 100px;

}
#div2{
    background-color: aquamarine;
    height: 200px;
    width: 200px;

}
span {
    display: block;
}

div{
    display: inline-block;
}