#container{
    height: 75vh;
    width: 75vw;
    background-color: cyan;
    display: flex;
    /*flex-wrap: wrap-reverse;*/

}
#container div{
    height: 200px;
    width: 200px;

}
#div1{
    background-color: red;
   /* flex-grow: 1;*/
   flex-shrink:4 ;

}

#div2{
    background-color: yellow;
    order: -2;
    /*flex-grow: 1;*/
    flex-shrink: 1;
    
}
#div3{
    background-color: green;
}
#div4{
    background-color: blue;
    order: -1;
    /*flex-grow: 1;*/
}